@import url(Poppins-Italic.ttf);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(33, 94, 102),rgb(6, 192, 199));
}

form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135,.37);
    border-radius:  30px;
    border-top : 3px solid rgba(255,255,255,.4);
    border-right : 3px solid rgba(255,255,255,.4);
    border-bottom : 3px solid rgba(255,255,255,.4);
    border-left : 3px solid rgba(255,255,255,.4);
}

h1{
    font-style:inherit;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 3%;
    opacity: .6;
}
label{
    font-size: 30px;
    font-style: inherit;
    margin-left: 20px;
    opacity: .7;
}

input{
    width : 90%;
    margin: 5% auto;
    margin-bottom: 8%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 3px solid rgba(8, 8, 8, 0.4); 
    opacity: .7;
}

button{
    width: 40%;
    margin: 2% auto;
    color:black;
    font-size: 20px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255,255,255,0.06);
    padding:10px 15px;
    box-shadow: 3px 3px 5px rgba(2, 51, 54, 0.4);
    
}
a{
    font-size: 16px;
    text-align: center;
    opacity: .8;
    margin: -7% auto;
}
